<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- icons link-->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

	<script>
			const token = "[[${token}]]";
            localStorage.setItem("token", token);
	</script>
	 <!-- custom css link-->
	<link rel="stylesheet" href="../../static/css/style.css">
	<title>Allocated equipment history</title>
</head>
<body id="body">
	
	<!-- SIDEBAR -->
	<section id="sidebar" onmouseleave="handleSidebarMouseLeave()" onmouseenter="handleSidebarMouseEnter()" >
		<a href="#" class="logo"><img src="../../static/css/images/logo.png" class="logo-pic"> Smart EMS</a>
		<ul class="side-menu">
			<li><a  id="history-equipment" onclick="getHistory()" ><i class='bx bx-devices icon'></i> Allocation History </a></li>
			<li><a id="request-equipment" ><i class='bx bx-devices icon'></i> Request Equipment </a></li>
			
		</ul>
		
	</section>
	
	

	<!-- NAVBAR -->
	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' onclick="toggleSide()" ></i>
			<form action="#"></form>
			<div id="toggle-btn" onclick="toggleDarkMode()" class="fas fa-sun"></div>
			<div class="notif">
				<i class="bi bi-bell-fill nav icon"  onclick="handleIconClick()" id="bell"></i>
				<ul onclick="handleIconClick()" class="notif-link">

				    <li th:each="notification : ${notification}" ><i style="color: green;" th:text="${notification.getNotificationText()}"></i></li>
					<hr>

				</ul>
			</div>
		
			<span class="divider"></span>
			<div class="profile">
				<img onclick="handleImgProfileClick()" src="../../static/css/images/student.png" alt="">
				<ul class="profile-link">
					<li><a href="/View/Student/Update" ><i class="bi bi-person-circle icon"></i>Update info</a></li>
					<li><a href="../Login%20&%20Sign-up.html"><i class="bi bi-box-arrow-in-left"></i> Logout</a></li>
				</ul>
			</div>
		</nav>
	

		<!-- MAIN -->
		<main>
			<h1 class="title">Allocated equipment history</h1>
			<ul class="snippet">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active"> Allocation History</a></li>
				
				<li class="divider">/</li>
				<li><a href="#" class="active"> Allocated Equipment History</a></li></ul>
			<div class="data">
				<div class="content-data">

					<!-- data table -->
					
					<div class="head">
						<h3>Equipment Allocation Details</h3>
					</div> 
					<div class="table-wrapper">
						<table class="fl-table" id="container">


							<thead>
							<tr>
								<th>Holder ID</th>
								<th>Item ID</th>
								<th>Date of acquisition</th>
								<th>Date of return</th>
								<th>State</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="history: ${history}">
								<td th:text="${history.userId.getId()}"></td>
								<td th:text="${history.itemId.getSerialNumber()}"></td>
								<td th:text="${history.dateOfAcquisition}"></td>
								<td th:text="${history.dateOfReturn}"></td>
								<td th:text="${history.state}"></td>

							</tr>
							</tbody>


							<tbody>
						</table>

					</div>
                </div>
				</div>
				
			
		</main>
		
	</section>


	<!--custom js link-->

	<script src="../../static/js/studentJs.js"></script>


</body>
</html>