<!DOCTYPE html>
<html lang="en" >
<head>
	<script>
		var missing = [[${missing}]];
		console.log(missing);
		var pending = [[${pending}]];
		var available = [[${available}]];
		var underMaintenance = [[${underMaintenance}]];
		var allocated = [[${allocated}]];
		var security = [[${security}]];
		var network = [[${network}]];
		var computers = [[${computers}]];
		var hpc= [[${hpc}]];
		var robotics= [[${robotics}]];

	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- icons link-->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    
	 <!-- custom css link-->
	<link rel="stylesheet" href="../../static/css/style.css">
	<title>Inventory state</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="logo"><img src="../../static/css/images/logo.png" class="logo-pic"> Smart EMS</a>
		<ul class="side-menu">
			<li><a href="Admin-InventoryState.html" ><i class="bi bi-bar-chart-line icon"></i> Inventory State</a></li>
			
			<li><a href="/Admin/Managers"><i class="bi bi-person-gear icon"></i> Manage Work Personnel </a></li>
			<li><a href="/Admin/Categories"><i class='bx bx-devices icon'></i> Manage Equipment <br>Categories</a></li>
	    </ul>
		
	</section>
	

	<!-- NAVBAR -->
	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#"></form>

			<div id="toggle-btn" class="fas fa-sun"></div>

			<div class="notif">
				<i class="bi bi-bell-fill nav icon" id="bell"></i>
				<ul class="notif-link">
					<li><a href="#" ><i class="bi bi-bell-fill icon "style="color: green;"></i>check <small>11:51</small></a></li>
					<hr>
				    <li><a href="#"><i class="bi bi-bell-fill icon" style="color: green;"></i>check <small>11:51</small></a></li> 
					<hr>
				    <li><a href="#"><i class="bi bi-bell-fill icon" style="color: green;"></i>check <small>11:51</small></a></li>       
				</ul>
			</div>



			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../static/css/images/teacher2.jpg" alt="">
				<ul class="profile-link">
					<li><a href="Admin-ManageMyAccount.html"><i class="bi bi-person-circle icon"></i>Update info</a></li>
					<li><a href="../Login%20&%20Sign-up.html"><i class="bi bi-box-arrow-in-left"></i> Logout</a></li>
				</ul>
			</div>
		</nav>
	

		<!-- MAIN -->
		<main>
			<h1 class="title">Inventory State</h1>
			<ul class="snippet">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active"> Inventory State</a></li>
				<li ><a href="#" class="report-button">Generate report</a></li>
			</ul>
			<div class="info-data">
				<div class="card">
					<div class="head">
						<li>
							<i class='bx bxs-group' ></i>
							<span class="text">
								<h3 th:text="${studentCount}"></h3>
								<p>Students</p>
							</span>
						</li>
				</div>
				</div>
				<div class="card">
					<div class="head">
						<li>
							<i class='bx bxs-group' ></i>
							<span class="text">
								<h3 th:text="${researcherCount}"></h3>
								<p>Researchers</p>
							</span>
						</li>
				</div>
				</div>
				<div class="card">
					<div class="head">
						<li>
							<i class='bx bx-devices'></i>
							<span class="text">
								<h3 th:text="${itemsCount}"></h3>
								<p>Equipments</p>
							</span>
						</li>
				</div>
				</div>
			</div>
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Comparison of Equipment's quantity by category</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chart">
						<div id="chart"></div>
					</div>
				</div>
				<div class="content-data">
					<div class="head">
						<h3>Equipment State</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chart1" >
						<div id="chart1"></div>
					</div>
				</div>
			</div>
		</main>
	</section>
	

	 <!--custom js link-->
	 <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="../../static/js/AdminJs.js"></script>
	<script src="../../static/js/script2.js"></script>
</body>
</html>