<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- icons link-->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    

	 <!-- custom css link-->
	<link rel="stylesheet" href="../../static/css/style.css">
	<title>Manage HPC requests</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="logo"><img src="../../static/css/images/logo.png" class="logo-pic"> Smart EMS</a>
		<ul class="side-menu">
			<li><a href="AllocationManager-InventoryState.html" ><i class="bi bi-bar-chart-line icon"></i> Inventory State</a></li>
			
			<li>
				<a href="#"><i class="bi bi-person-gear icon"></i> Manage Users <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-menu-dropdown">
					<li><a href="AllocationManager-manageResearchers.html"><i class="bi bi-person icon "></i> Researchers</a></li>
					<li><a href="AllocationManager-manageStudent.html"><i class="bi bi-person icon "></i>Students</a></li>
					
				</ul>
			</li>
			<li>
				<a href="#"><i class='bx bx-devices icon'></i> Manage Requests <i class='bx bx-chevron-right icon-right' ></i></a>
			<ul class="side-menu-dropdown">
				<li><a href="AllocationManager-manageEquipmentRequests.html"><i class='bx bx-devices icon'></i>Manage<br> Equipment <br> Requests</a></li>
				<li><a href="AllocationManager-manageHPCRequests.html"><i class="bi bi-device-ssd icon"></i>Manage HPC<br> Requests </a></li>
				
			</ul>
		    </li>
			<li>
				 <a href="#"><i class="bi bi-calendar2-event icon"></i> Review Allocated <br> Items<i class='bx bx-chevron-right icon-right' ></i></a>
			<ul class="side-menu-dropdown">
				<li><a href="AllocationManager-ReviewEquipment.html"><i class='bx bx-devices icon'></i>Review<br> Equipment</a></li>
				<li><a href="AllocationManager-ReviewHPC.html"><i class="bi bi-device-ssd icon"></i>Review HPC </a></li>
				
			</ul>
		    </li>
		</ul>
		
	</section>
	

	<!-- NAVBAR -->
	<section id="content">
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#"></form>
			<div id="toggle-btn" class="fas fa-sun"></div>
			<div class="notif">
				<i class="bi bi-bell-fill nav icon" id="bell"></i>
				<ul class="notif-link">
					<li><a href="#" ><i class="bi bi-bell-fill icon "style="color: green;"></i>check<small>11:51</small></a></li>
					<hr>
				    <li><a href="#"><i class="bi bi-bell-fill icon" style="color: green;"></i>check<small>11:51</small></a></li> 
					<hr>
				    <li><a href="#"><i class="bi bi-bell-fill icon" style="color: #008000;"></i>check<small>11:51</small></a></li>       
				</ul>
			</div>
			<span class="divider"></span>
			<div class="profile">
				<img src="../../static/css/images/teacher7.png" alt="">
				<ul class="profile-link">
					<li><a href="AllocationManager-ManageMyAccount.html" ><i class="bi bi-person-circle icon"></i>Update info</a></li>
					<li><a href="../Login%20&%20Sign-up.html"><i class="bi bi-box-arrow-in-left"></i> Logout</a></li>
				</ul>
			</div>
		</nav>
	


		

		<!-- MAIN -->
		<main>
			<h1 class="title">Manage HPC Requests</h1>
			<ul class="snippet">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active"> Manage Requests </a></li>
				
				<li class="divider">/</li>
				<li><a href="#" class="active"> Manage HPC Requests </a></li>
			</ul>
			<div class="data">
				<div class="content-data">

					<!-- data table -->
					
					<div class="head">
						<h3>HPC Requests Details</h3>
					</div> 
					<div class="table-wrapper">
						<table class="fl-table">
							
							
							<thead>
							<tr>
                                <th>User ID</th>
                                <th>HPC ID</th>
                                <th>Date of acquisition</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="hpcRequests: ${hcpRequests}">
								<td th:text="${hpcRequests.getResearcher().getId()}"></td>
                                <td th:text="${hpcRequests.getItem().getSerialNumber()}"></td>
								<td th:text="${hpcRequests.getDateOfAcquisition()}"></td>
								<td>
								   <div>
									<a href="#" class="table-button1" onclick="AcceptHPCRequest(this)">Accept</a>
									<a href="#" class="table-button2" onclick="RefuseHPCRequest(this)">Refuse</a>
								   </div>
							    </td>
								
							</tr>

							</tbody>
						

						</table>

					</div>
                </div>
				</div>
				
			
		</main>
		
	</section>
	

	 <!--custom js link-->
	 <script src="../../static/js/AllocationManagerJs.js"></script>
	 <script src="../../static/js/script2.js"></script>
</body>
</html>