<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- icons link-->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    

	 <!-- custom css link-->
	<link rel="stylesheet" href="../../static/css/style.css">
	<title>Update equipment categories</title>
</head>
<body>
 <!-- SIDEBAR -->
 <section id="sidebar">
	 <a href="/InventoryManager/InventoryManagerLander" class="logo"><img src="../../static/css/images/logo.png" class="logo-pic" alt=""> Smart EMS</a>
	 <ul class="side-menu">
		 <li><a href="/InventoryManager/InventoryManagerLander" ><i class="bi bi-bar-chart-line icon"></i> Inventory State</a></li>
		 <li><a href="/InventoryManager/Equipment"><i class='bx bx-devices icon'></i> Manage Equipments</a></li>
		 <li><a href="/InventoryManager/Purchases"><i class="bi bi-receipt icon"></i> Purchases </a></li>
		 <li><a href="/InventoryManager/Resources"><i class="bi bi-box-arrow-in-down-right icon"></i> Resources </a></li>
		 <li><a href="/InventoryManager/ResourcesHistory"><i class="bi bi-card-text icon"></i> Resources History</a></li>
		 <li><a href="/InventoryManager/InventoryCheck"><i class='bx bx-devices icon'></i> Inventory Check</a></li>
	 </ul>
 </section>

<!-- NAVBAR -->
<section id="content">
    <nav>
        <i class='bx bx-menu toggle-sidebar' ></i>
        <form action="#"></form>
        <div id="toggle-btn" class="fas fa-sun"></div>
        <div class="notif">
            <i class="bi bi-bell-fill nav icon" id="bell"></i>
            <ul class="notif-link">
                <li><a href="#" ><i class="bi bi-bell-fill icon "style="color: green;"></i>check<small>11:51</small></a></li>
                <hr>
                <li><a href="#"><i class="bi bi-bell-fill icon" style="color: green;"></i>check<small>11:51</small></a></li> 
                <hr>
                <li><a href="#"><i class="bi bi-bell-fill icon" style="color: green;"></i>check<small>11:51</small></a></li>       
            </ul>
        </div>
        <span class="divider"></span>
        <div class="profile">
            <img src="../../static/css/images/teacher3.png" alt="">
            <ul class="profile-link">
                <li><a href="InventoryManager-ManageMyAccount.html" ><i class="bi bi-person-circle icon"></i>Update info</a></li>
                <li><a href="../Login%20&%20Sign-up.html"><i class="bi bi-box-arrow-in-left"></i> Logout</a></li>
            </ul>
        </div>
    </nav>

		<!-- MAIN -->
		<main>
			<h1 class="title">Update Resource</h1>
			<ul class="snippet">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Update Resource</a></li>
			</ul>
			<div class="content-data">
				<div class="container1">
			
					<form action="#">
						<div class="form first">
							<div class="details-personal">
			
								<div class="fields">
									<div class="input-field">
										<label>Receipt ID</label>
										<select  type="text"  class="field" required >
											<option disabled selected>Receipt Id</option>
											<option th:id="purchases" th:each="receipt: ${receipts}" th:text="${receipt.getId()}"></option>
										</select>
									</div>
									<div class="input-field">
										<label>Name</label>
										<input type="text" th:id="name" placeholder="Enter name" required>
									</div>
									
									<div class="input-field">
										<label>Type</label>
										<select type="text"  class="field" required >
											<option disabled selected>Type</option>
											<option th:id="type" th:each="category: ${categories}" th:text="${category.getName()}"></option>

										</select>
									</div>

									<div class="input-field">
										<label>Quantity</label>
										<input type="text" th:id="quantity" placeholder="Enter quantity" required>
									</div>
								</div>
							</div>
			
							<button onclick="submitFormResource()" >
									<span class="btnText" >Save</span>
								</button>
							</div> 
						</div>
			
					</form>
				</div>
			</div>
		</main>
		
	</section>
	

	 <!--custom js link-->
	<script src="../../static/js/InventoryManagerJs.js"></script>
	<script src="../../static/js/script2.js"></script>
</body>
</html>
