<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <div class="wallpaper">        
        <img src="../static/css/images/cancel.svg"  >
        <h1>Access denied</h1>
        <p>Oops! No results found</p>
        <a href="Landing page.html">Go back to homepage</a>
      </div>
</body>
</html>